
html(lang='en', ng-app='myApp', ng-controller='myOrder')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Taxi-online service
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-social.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/business-frontpage.css', rel='stylesheet')
    link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/fontello.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-static-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='images/logo.png', width='126', height='61', alt='')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') About
            li
              a(href='#') Services
            li
              a(data-toggle='modal', data-target='#myModal') Contact
        // /.navbar-collapse
      // /.container
    // Image Background Page Header
    // Note: The background image is set within the business-casual.css file.
    header.business-header
      .container-fluid
        br
        .row
          #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li.active(data-target='#myCarousel', data-slide-to='0')
              li(data-target='#myCarousel', data-slide-to='1')
              li(data-target='#myCarousel', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .item.active
                img(src='images/slide.jpg', alt='Chania', width='100%')
              .item
                img(src='images/slide1.jpg', alt='Chania', width='100%')
              .item
                img(src='/images/slide2.jpg', alt='Flower', width='100%')
              // Left and right controls
              a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
    // Page Content
    br
    br
    .container-fluid
      br
      br
      .row
        .col-sm-4
          img.img-rounded.img-responsive.img-center(src='images/icon1.png', alt='')
          h2 Fast &amp Save
          p
            | These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.
        .col-sm-4
          img.img-rounded.img-responsive.img-center(src='images/icon2.png', alt='')
          h2 Best Prices
          p
            | The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .col-sm-4
          img.img-rounded.img-responsive.img-center(src='images/icon3.png', alt='')
          h2 Package Delivery
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      br
      .colordiv
        .row
          .col-sm-12
            .col-sm-6(align='center')
              h2.stl1
                span.fa.fa-phone
                | +375 33 559 6580
                br
                span ORDER NOW!
            
      br
      br
      // Booking Form
      .row
        .col-sm-12
          .col-sm-6
            h3 Booking Form
            form.form-horizontal
              .col-sm-6
                .form-group
                  input.form-control(name='Name', placeholder='Name:', type='text', ng-model='name')
                .form-group
                  input.form-control(name='From', placeholder='From:', type='text', ng-model='from')
              .col-sm-6
                .form-group
                  input.form-control(name='Phone', placeholder='Phone:', type='text', ng-model='phone')
                .form-group
                  input.form-control(name='To', placeholder='To:', type='text', ng-model='to')
              .col-sm-12
                .form-group
                  label.radio-inline
                    input#inlineRadio1(c='', type='radio', name='inlineRadioOptions', value='bus', ng-model='bus')
                    |  Bus
                  label.radio-inline
                    input#inlineRadio2(type='radio', name='inlineRadioOptions', value='car', ng-model='car')
                    | Car
              //
                <div class="col-sm-6">
                <div class="form-group">
                <div class="col-sm-8 control-label">
                <label for="pass">Number Of Passengers</label>
                </div>
                <div class="col-sm-4">
                <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                </select>
                </div>
                </div>
                </div>
                !
              .col-sm-12
                .form-group
                  textarea.form-control(name='Message', placeholder='Please input more information about your location', ng-model='description')
              .form-group
                .col-sm-offset-9.col-sm-3
                  button.btn.btn-success(type='submit')  Order Now! 
              .col-sm-12
                p From:{{from}}
                p To:{{to}}
                p Phone:{{phone}}
                p Name:{{name}}
                p vehicle:{{vehicle}}
                p Message:{{description}}
          .col-sm-6
            .row
              ul.thumbnails
                .col-md-6
                  .thumbnail
                    img.img-responsive(src='images/image_thumbs.jpg', alt='ALT NAME', width='320', height='200')
                    .caption
                      h3 Bus
                      p To six seats
                      p(align='center')
                        a.btn.btn-info.btn-block(href='#') Check info
                .col-md-6
                  .thumbnail
                    img.img-responsive(src='images/image_thumbs_2.jpg', alt='ALT NAME', width='320', height='200')
                    .caption
                      h3 Car
                      p to four seats
                      p(align='center')
                        a.btn.btn-info.btn-block(href='#') Check info
        // /.row
        hr
        br
        // Footer
        footer
          .row
            .col-sm-12
              .col-sm-6
                .st1
                  div
                    img(src='img/logo.png', width='126', height='61', alt='')
                  | 								© 2016 
                  a(href='#') Privacy Policy
                |  Website designed by
              .col-sm-6(align='left')
                a.btn.btn-social-icon.btn-md.btn-vk
                  span.icon-vk
                a.btn.btn-social-icon.btn-md.btn-facebook
                  span.icon-facebook
                a.btn.btn-social-icon.btn-md.btn-instagram
                  span.icon-instagram
                a.btn.btn-social-icon.btn-md.btn-google
                  span.icon-gplus
                br
                h3
                  span
                    img.img-rounded(src='images/phone_icon.png', alt='', width='32', height='32')
                  |  Call Us:+375 33 559 6580
          // /.row
      // /.container
      // jQuery
      script(src='javascripts/jquery.js')
      // Bootstrap Core JavaScript
      script(src='javascripts/bootstrap.min.js')
      // AngularJs
      script(src='javascripts/angular.js')
      script(src='javascripts/zakaz.js')
      // Modal
      #myModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') x
              h4#myModalLabel.modal-title Форма обратной связи
            .modal-body
              h3 ТИПА Форма
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
              button.btn.btn-primary(type='button') Отправить форму
